.headers {
  padding: 5px;
  background-color: rgb(252, 121, 101);
  padding-bottom: 10px;
  align-content: center;
}

H1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headers ul li a:hover {
  color: rgb(25, 33, 49);
}

.header-links ul li {
  display: inline;
  color: white;
  font-size: 40px;
}

.header-links ul li a {
  text-decoration: none;
  margin: 10px 20px 5px 10px;
}

.logo img {
  width: 90px;
  border-radius: 100%;
}

.Header-text {
  width: 100%;
  height: 265px;
  margin: auto 2px auto 20px;
  text-align: center;
  background-image: url(../Images/bg-image.png);
  color: rgb(149, 125, 170);
}

*img {
  width: 100%;
}

.Home-About {
  display: flex;
  width: 100%;
  margin: 10px auto;
}

.Home,
.About {
  background-color: rgb(182, 75, 253);
  width: 50%;
  text-align: center;
  margin: 20px;
}

.PhoneIpads {
  width: 100%;
  display: flex;
  margin: 10px auto;
}

.Phone,
.I-Pads {
  background-color: rgb(164, 149, 167);
  width: 50%;
  text-align: center;
  margin: 20px;
}

.GlaCovEpho {
  display: flex;
  width: 100%;
  margin: 10px 10px;
}

.Glasses,
.M-Covers,
.Earphones {
  border: 1px;
  background-color: rgb(122, 134, 146);
  width: 33%;
  text-align: center;
  margin: 10px;
}
.table{
  background: rgb(99, 25, 25);
}
table,th,td,tr{
  border-collapse:collapse;
  border:1px solid rgb(101, 34, 128);
  padding: 20px;
  font-size: 20px;

}
th{
  background-color: rgb(59, 47, 56);
  padding: 30px;
  text-transform: uppercase;
  color: azure;
}
td:nth-child(5n+1)
{
  background: rgb(150, 74, 74);
  text-align: center;
}
td:nth-child(5n+2)
{
  background:rgb(150, 74, 74);
text-align: center;
}
td:nth-child(5n+3)
{
  background:rgb(150, 74, 74);
  text-align: center;
  
}
td:nth-child(5n+4)
{
  text-align: center;
  background:rgb(150, 74, 74);
 color: :rgb(150, 74, 74); 
}
h3{
  text-align: center;
  text-shadow: 200px;
  color: rgb(25, 33, 49);
  text-decoration: underline;
}

.container {
  max-width: 400px;
  margin: auto;
  background-color: rgba(173, 86, 86, 0.8);
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #080808;
  text-align: center;
}

label {
  display: block;
  margin-top: 5px;
}

input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #02071a;
  border-radius: 100px;
}

button {
  margin-top: 50px;
  padding: 15px;
  width: 100%;
  background-color: #53505f;
  color: rgb(224, 219, 235);
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #5a9fee;
}

p {
  text-align: center;
}

a {
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}
footer {
  padding: 20px;
  margin: 10px;
  background-color: rgb(235, 235, 42);
  color: rgb(16, 12, 247);
  font-size: 25px;
  text-align: center;
  display: flex;
}

.address,
.mphone,
.email-address {
  padding: 20px;
  text-align: center;
}