
/* styles for the whole  */

*{
  padding: 0;
  margin: 0;
}

/* body style */
body{
  background-color: #b5bfe3;

}

/* headers style */
header{

  top: 0%;
  position: sticky;
  size: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-left: 30px;
  justify-content: center;
   
}
.headers {
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-content: center;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headers ul li a:hover {
  background-color:white;
  color: black;
}


.header-links ul li {
  display: inline;
  color: white;
  font-size: 40px;
}
.header-links ul li a {
  text-decoration: none;
  margin: 0px 20px 0px 10px;
  color: white;
  font-size: 20px;
  text-align: left;
}

.logo img {
  width: 20px;
  border-radius: 50%;
}

/* Home page style */
.Header-text {
  color:rgb(240, 210, 14);
  text-align: center;
  width: 100%;
  height: 380px;
  margin: auto 2px auto 20px;
  background-image: url(../Images/banner.jpg);
  font-size: 25px;
   background-size: cover; 
   margin-top: 10px;
  
}
.Header-text img{
width: 952px;
text-align: center;
}

.Home{
  background-image: url(../Images/Home\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
  height: 150px;
  text-align: center;
  font-size: 25px;
}

.Home img{ 
  width: 100%;
  }

/*   style of phone, Airpod and Charger page */
.Phone,
.I-Pads, .Charger {

  background-color: white;
  width: 33%;
  text-align: center;
  margin: 20px;
}

.Phone img,
.I-Pads img, .Charger img{
  transition: 0.4s;
  width: 100%;  
}

.PhoneIpads {
  width: 100%;
  display: flex;
  margin: 20px;
}

.PhoneIpads :hover{
transform: translateY(-10px);
}

/* Style of Headset, Cover and Earphone */
.GlaCovEpho {
  display: flex;
  width: 100%;
  margin: 10px 10px;
}

.GlaCovEpho :hover{
  transform: translateY(-10px);
}

.Glasses,
.M-Covers,
.Earphones {
  border: 1px;
  background-color: white;
  width: 33%;
  text-align: center;
  margin: 10px;
}


.Glasses img,
.M-Covers img,
.Earphones img{
width: 100%;
}

/* style of table */
.table{
  margin-bottom: 20px;
  background: grey;
}
table,th,td,tr{
  border-collapse:collapse;
  border:1px solid white;
  padding: 20px;
  font-size: 20px;
}
th{
  background-color: rgb(252, 172, 0);
  padding: 30px;
  text-transform: uppercase;
  color: rgb(7, 19, 243);
}
td:nth-child(5n+1)
{
  background: rgb(6, 235, 212);
  text-align: center;
}
td:nth-child(5n+2)
{
  background:rgb(29, 209, 13);
text-align: center;
}
td:nth-child(5n+3)
{
  background:rgb(18, 68, 138);
  text-align: center;
  
}
td:nth-child(5n+4)
{
  text-align: center;
  background:rgb(191, 22, 152);
 color: rgb(17, 8, 8); 
}

h3{
  text-align: center;
  text-shadow: 200px;
  color: rgb(36, 36, 41);
  text-decoration: underline;
}

/* style for order form */
.container {
  text-align: center;
  max-width: 400px;
  margin: auto;
  background-color: rgba(8, 226, 255, 0.8);
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



label {
  display: block;
  margin-top: 5px;
}


input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #02071a;
  border-radius: 100px;
}

 .registration-button  {
  justify-content: center;
  margin-top: 50px;
  padding: 15px;
  width: 50%;
  background-color: #fd00ec;
  color: rgb(25, 7, 222);
  border: none;
  border-radius: 100px;
  cursor: pointer;
} 

button:hover {
  background-color: #5a9fee;
}

p {
  text-align: center;
}

a {
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}
.prices{
  color:rgb(5, 255, 5);
}

/* style of footer */
footer {
  margin-top: 20px;
  padding: 40px 4rem;
  background: rgb(31, 33, 73);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;

}
.col h3{
  font-weight: 700;
}
.col p{
  font-size: 13px;
  color: white;
  
}
.col-1{
  width: 300px;
}
.col h3{
  padding-bottom: 20px;
}
.col li{
  color: white;
}
footer h3{
  color: rgb(168, 13, 230);
}
.Copyright{
  width: 100%;
  text-align: left;
  color: rgb(241, 237, 1);
}

