.headers{
    padding: 5px;
    background-color: rgb(0, 234, 255); 
    padding-bottom: 10px;
    align-content: center;
}
.headers ul li a:hover{
   color: red;
} 
    .header-links ul li{
      
     display: inline;
	color:white;
    font-size: 40px;
    


    }
    .header-links ul li a{
        text-decoration: none;
        margin: 10px 20px 5px 10px;
    }
.logo img{
    width: 40px;
    border-radius: 50%;
    
}

.Header-text{
    width: 100%;
    height: 265px;
    margin: auto 2px auto 20px;
    text-align: center;
    background-image: url(./Images/bg-image.png);
    color: rgb(136, 0, 255);
}

    *img{
        width: 100%;
        
    }

    .Home-About {
       display: flex;
       width: 100%;
        margin: 10px auto;
    }
    .Home, .About{
        background-color: greenyellow;
        width: 50%;
        text-align:center;
        margin: 20px;
    }


    .PhoneIpads {
        width: 100%;
        display: flex;
        margin: 10px auto;
    }
    .Phone, .I-Pads{
        background-color: aqua;
        width: 50%;
        text-align:center;
        margin: 20px;  
    }
   

    .GlaCovEpho{
      display: flex;
       width: 100%;
       margin: 10px 10px;
    }
    .Glasses, .M-Covers, .Earphones{
        border: 1px;
        background-color:dodgerblue;
        width: 33%;
        text-align: center;
        margin: 10px;
    }
    footer{
        padding: 1px;
        margin: 10px;
        background-color: rgb(0, 234, 255);
        color: rgb(16, 12, 247);
        font-size: 50px;
        text-align: center;
    }